{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src=" {% static 'images/Categoria_0.png' %}" alt="">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/Categoria_1.png' %}" alt="">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/Categoria_2.png' %}" alt="">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/Categoria_3.png' %}" alt="">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/Categoria_4.png' %}" alt="">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/Categoria_5.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}