{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>FERREMAS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/Icono_Ferremas.png' %}" width="120px" alt="martillo básico">
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li><a href="{% url 'inicio' %}">Productos</a></li>
                        <li><a href="{% url 'inicio' %}">Informaciones</a></li>
                        <li><a href="{% url 'inicio' %}">Menú</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        {% else %}
                            <li><a href="#ModalLogin" class="open-modal">Iniciar Sesión</a></li>
                        {% endif %}
                        <li><a href="#Modal0"><img src="{% static 'images/Icono_Compra.png' %}" height="30px" alt="Carrito de Compra"></a></li>
                    </ul>
                </nav>
            </div>
<div class="containter-fluid">
                {% block content %}
                {% endblock %}
        </div>
        </div>

        <!-- Modal Login -->
        <div id="ModalLogin" class="modal1">
            <div class="modal1-contenido">
                <span class="close">&times;</span>
                <h2>Iniciar Sesión</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label for="username">Correo Electronico:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Iniciar Sesión</button>
                    <a href="{% url 'register' %}">registrarse</a>
                </form>
            </div>
        </div>

        <!-- Pie de Página -->
        <div class="footer">
            <div class="row" style="padding: 1%;">
                <div class="col-3">
                    <h6 style="color: rgb(88, 38, 20);">INFORMACIÓN RELEVANTE</h6>
                    <p style="font-size: smaller; color: rgb(10, 10, 10);">
                        Trabajo de "Integración de Plataformas", impartido
                        por el docente:
                    </p>
                    <h6 style="font-size: small; padding-left: 8%; color: rgb(88, 38, 20); fill: rgb(88, 38, 20);">
                        Diego Cares
                    </h6>
                    <p style="font-size: smaller; color: rgb(10, 10, 10);">
                        En el semestre primero del año 2024. Esperamos nuestro 7 con ansias :D
                    </p>
                </div>

                <div class="col-6"></div>

                <div class="col-3">
                    <h6 style="color: rgb(88, 38, 20)">ESTUDIANTES</h6>
                    <p style="font-size: smaller; color: rgb(10, 10, 10);">
                        Diseñado, desarrollado y especialmente sufrido por:
                    </p>
                    <h6 style="font-size: small; padding-left: 8%; color: rgb(88, 38, 20); fill: rgb(88, 38, 20);">
                        Ignacia Ciero R.
                    </h6>
                    <h6 style="font-size: small; padding-left: 8%; color: rgb(88, 38, 20); fill: rgb(88, 38, 20)">
                        Alejandro Pimiento O.
                    </h6>
                </p>

                <br><a href="#Iniciouwu"><h6>Volver arriba owo</h6></a>
              </div>
          </div>
      </div>
  </div>

  <script>
  $(document).on('click', '.add-to-cart', function() {
      var productId = $(this).data('product-id');
      $.ajax({
          url: "{% url 'agregar_al_carrito' 0 %}".replace('0', productId),
          method: "GET",
          success: function(data) {
              alert('Producto agregado al carrito. Total items: ' + data.total_items);
          },
          error: function(xhr, status, error) {
              alert('Error al agregar el producto al carrito.');
          }
      });
  });

  $(document).on('click', 'a[href="#Modal0"]', function() {
      $.ajax({
          url: "{% url 'obtener_contenido_carrito' %}",
          method: "GET",
          success: function(data) {
              $('#carrito-contenido').html(data.html);
              $('#Modal0').show(); // Muestra el modal después de cargar el contenido
          },
          error: function(xhr, status, error) {
              alert('Error al obtener el contenido del carrito.');
          }
      });
  });

  $(document).on('click', '.close-modal', function() {
      $(this).closest('.modal0').hide();
  });

  $(document).on('click', function(event) {
      if ($(event.target).is('.modal0')) {
          $('.modal0').hide();
      }
  });
  </script>

</body>
</html>

