{% extends 'Ferremas_pri/base.html' %}
{% load static %}
{% block content %}

<div class="categories">
    <div class="small-container">

        <div> <!-- API base de muestra de Productos  -->
            
            <div id="product-details">
                <h2>Product Details</h2>
                <div id="product-info">
                    <p>Loading...</p>
                </div>
            </div>
        
            <script src="{% static 'js/consultar.js' %}"></script>
        </div>


    </div>
</div>

{% endblock %}